html, body {
  margin: 0;
  padding: 0;
  cursor: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

canvas {
  display: block;
}

#newgame, #continue, #howtoplay, #credits, #backtomenu, #loadsave { 
  left: clamp(0px, 12vw, 50px);
  top: clamp(0px, 12vw, 50px);
}

.menubtn {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: relative;
  background-color: transparent;
  border-color: transparent;
  font-size: clamp(0px, 6vw, 25px);
  border-width: clamp(0px, 6vw, 25px);
  border-radius: 100vw;
  border-style: solid;
  color: white;
  transition: padding-left 0.75s ease, padding-right 0.75s ease;
  cursor: none;
}

.menubtn:hover {
  padding-left: clamp(0px, 12vw, 50px);
  padding-right: clamp(0px, 12vw, 50px);
}

.menubtn:active {
  color: lightgray;
}

.hillbtn {
  border-radius: 100vw;
  width: 20px;
  height: 20px;
  border-width: 0px;
  border-style: solid;
  border-color: white;
  background-color: white;
  transition: width 0.5s ease, height 0.5s ease, color 0.5s ease, border-width 0.5s ease;
  color: white;
  overflow: hidden;  
  cursor: pointer;
  z-index: 9;
}

.hillbtn:active {
  background-color: lightgray;
  border-color: lightgray;
}

.hillbtn:hover {
  height: 40px;
  border-width: 10px;
  width: 145px;
  color: black;
}

.questionbtn {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 15px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  background-color: lightgray;
  border-color: lightgray;
  transition-property: width, height, box-shadow;
  transition-duration: 0.5s, 0.25s, 0.1s;
  transition-delay: 0s, 0.5s, 0s;
  transition-timing-function: ease, ease, ease-out;
  cursor: pointer;
  word-wrap: break-word;
  text-align: center;
  z-index: 10;
}

.questionbtn:not( :hover ){
  transition-delay: 0s, 0.5s 0s!important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
}

.answerbtn {
  height: 40px;
  width: 90px;
  border: 0px;
  padding: 0px;
  outline: none;
  border-radius: 0px 20px 20px 0px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  margin-top: 15px;
  margin-left: 35px;
  transition: width 1s ease;
  z-index: -1000;
}

.answerbtn:hover {
  width: 300px;
}

.answersendbtn {
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;
  border: 0px;
  font-size: 15px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 15px;
  background-color: white;
  z-index: 1000;
  transition: transform 0.75s ease;
  margin-top: 15px;
  cursor: pointer;
}

.answersendbtn:hover {
  transform: rotate(360deg);
}

.answersendbtn:active {
  background-color: lightgray;
}

.answerchoicebtn {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;
  border: 0px;
  font-size: 15px;
  height: 40px;
  width: 40px;
  background-color: white;
  z-index: -1000;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.25s ease;
  color: lightgray;
}

.answerchoicebtn:hover {
  color: black !important;
}

.menutransitiondiv {
  position: fixed;
  width: 0%;
  height: 100%;
  border: 0px;
  background-color: rgb(16, 16, 16);
  transition: width 1s ease;
  z-index: 10000;
}

.gametransitiondiv {
  position: fixed;
  width: 100%;
  height: 100%;
  border: 0px;
  opacity: 100;
  background-color: rgb(0, 0, 0);
  transition: opacity 1s ease;
  z-index: 10000;
}

.continuetransitiondiv {
  position: fixed;
  width: 0%;
  height: 0%;
  border: 0px;
  background-color: rgb(0, 0, 0);
  transition: left 1s ease;
  z-index: 10000;
}

.settingsDiv {
  position: fixed;
  right: 15px;
  top: 15px;
  transition: transform 0.75s ease;
}
.settingsDiv:hover {
  transform: rotate(180deg);
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: relative;
  background-color: transparent;
  border-color: transparent;
  border-width: clamp(0px, 6vw, 25px);
  border-radius: 100vw;
  border-style: solid;
  color: white;
  cursor: none;
  padding-top: 0px;
  padding-left: 55px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: relative;
  background-color: transparent;
  border-color: transparent;
  border-radius: 100vw;
  border-style: solid;
  color: white;
  cursor: none;
  margin-right: 90px;
  padding-left: 120px;
}

.hud {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0px;
  border-radius: 100px;
  color: white;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: text;
}

.completedclass {
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
  text-align: center;
}